<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://bootswatch.com/journal/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>News Scraper</title>
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Mongo Scraper</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/saved">Saved Articles</a>
                    </li>
                    <li>
                        <button href="/scrape" class="btn btn-info scrape-btn">Scrape New Articles</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {{{body}}}
    <footer class="navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <div class="text-right footer-margin"> Justin Carlson &copy; 2017&nbsp;&nbsp;
                        <a href="https://github.com/JustinRyanCarlson" target="_BLANK">
                        <img class="icons" src="/img/githubicon.png"></a>
                        <a href="https://www.linkedin.com/in/justinryancarlson/" target="_BLANK">
                        <img class="icons" src="/img/linkedinicon.png"></a> 
                        </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascript/scrape.js"></script>
    <script src="/javascript/saved.js"></script>
</body>

</html>
